@{
    ViewBag.Title = "Home Page";
}
<!-- body -->
 class="main-layout">
<!-- loader  -->
<div class="loader_bg">
    <div class="loader"><img src="~/images/loading.gif" alt="" /></div>
</div>

<div class="wrapper">
    <!-- end loader -->

    <div class="sidebar">
        <!-- Sidebar  -->
        <nav id="sidebar">

            <div id="dismiss">
                <i class="fa fa-arrow-left"></i>
            </div>
            <!--navigator-->
            <ul class="list-unstyled components">

                <li class="active">
                    <a href="https://localhost:44350">Home</a>
                </li>
                <li>
                    <a href="https://localhost:44350/App/Shop">Shop</a>
                </li>
                <li>
                    <a href="https://localhost:44350/ShoppingCart">ShoppingCart</a>
                </li>
                <!--<li>
       
    </li>
    <li>
        <a href="blog.html">Blog</a>
    </li>
    <li>
        <a href="contact.html">Contact Us</a>
    </li>-->
            </ul>

        </nav>
    </div>

    <div id="content">
        <!-- header -->
        <header>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3">
                        <div class="full">
                            <a class="logo">Food Bite</a>
                        </div>

                    </div>
                    <div class="col-md-9">
                        <div class="full">
                            <div class="right_header_info">
                                <ul>
                                    <li class="dinone">Contacts: <img style="margin-right: 15px;margin-left: 15px;" src="~/images/phone_icon.png" alt="#"><a href="#">0116789380</a></li>
                                    <li class="dinone"><img style="margin-right: 15px;" src="~/images/mail_icon.png" alt="#"><a href="#">k@tshimologong.joburg</a></li>
                                    <li class="dinone"><img style="margin-right: 15px;height: 21px;position: relative;top: -2px;" src="~/images/location_icon.png" alt="#"><a href="#">104 Moteong </a></li>
                                    <li class="button_user"><a class="button active" href="https://localhost:44350/app/login">Login</a><a class="button" href="https://localhost:44350/app/register">Register</a></li>
                                    <li><img style="margin-right: 15px;" src="~/images/search_icon.png" alt="#"></li>
                                    <li>
                                        <button type="button" id="sidebarCollapse">
                                            <img src="~/images/menu_icon.png" alt="#">
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- end header -->
        <!-- start slider section -->
        <div class="slider_section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="full">
                            <div id="main_slider" class="carousel vert slide" data-ride="carousel" data-interval="5000">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <div class="slider_cont">
                                                    <h3>Discover Restaurants<br>That deliver near You</h3>
                                                    <p>We specialise in local cuisine from buegers, wings,ribs, sandwich, etc. They are prepared in the most modern and perfect way.</p>
                                                    <a class="main_bt_border" href="https://localhost:44350/app/shop">Order Now</a>
                                                </div>
                                            </div>
                                            <div class="col-md-7">
                                                <div class="slider_image full text_align_center">
                                                    <img class="img-responsive" src="~/images/dc57ca62-44bc-4f97-a42b-8f90180475f4.jpeg" alt="#" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <div class="slider_cont">
                                                    <h3>Discover Restaurants<br>That deliver near You</h3>
                                                    <p>We specialise in local cuisine from buegers, wings,ribs, sandwich, etc. They are prepared in the most modern and perfect way.</p>
                                                    <a class="main_bt_border" href="https://localhost:44350/app/shop">Order Now</a>
                                                </div>
                                            </div>
                                            <div class="col-md-7 full text_align_center">
                                                <div class="slider_image">
                                                    <img class="img-responsive" src="~/images/921d1aa1-654a-4a9a-aa95-d4f03d966ad7.jpeg" alt="#" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
                                    <i class="fa fa-angle-up"></i>
                                </a>
                                <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
                                    <i class="fa fa-angle-down"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- about -->
        <div class="about">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="title">
                            <i><img src="~/images/title.png" alt="#" /></i>
                            <h2>About Our Food & Restaurant</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                        <div class="about_box">
                            <h3>Best Food</h3>
                            <p>
                                Since 2019 when the first Food Bite opened in Tembisa, Food Bite Ranches have been part of the Johannesburg family.
                                Food Bite is the most recognised local fast food restaurant in Johannesburg.
                                Food Bite has helped to create countless special memories and earned a reputation for tasty and nutritious meals.
                                We have also grown many local restaurants.
                            </p>
                            <a href="#">Read More <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-5 col-md-10 col-sm-12 about_img_boxpdnt">
                        <div class="about_img">
                            <figure><img src="~/images/about-img.jpg" alt="#/" width="1000px"></figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end about -->
        <!-- blog -->
        <div class="blog">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="title">
                            <i><img src="~/images/title.png" alt="#" /></i>
                            <h2>Menu</h2>
                            <span>Regular food, salads and platters</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mar_bottom">
                        <div class="blog_box">
                            <div class="blog_img_box">
                                <figure>
                                    <img src="~/images/0fb3c319-ab08-4c09-a568-8aa089d9df89.jpeg" alt="#" width="10cm" />
                                    <span>02 FEB 2021</span>
                                </figure>
                            </div>
                            <h3>Ribs & Wings + Chips<br></br><br>R70</br></h3>
                           

                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mar_bottom">
                        <div class="blog_box">
                            <div class="blog_img_box">
                                <figure>
                                    <img src="~/images/43d5ecaa-7b70-44e0-9b0d-f1639b7d4aa9.jpeg" alt="#" />
                                    <span>02 FEB 2021</span>
                                </figure>
                            </div>
                            <h3>Steak & Wors + Chips<br></br><br>R70</br></h3>
                            
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mar_bottom">
                        <div class="blog_box">
                            <div class="blog_img_box">
                                <figure>
                                    <img src="~/images/images.jpeg" alt="#" width="10cm" />
                                    <span>02 FEB 2021</span>
                                </figure>
                            </div>
                            <h3>Chicken Dust + Chips<br>Mild or Spicy</br><br>R100</br></h3>
                            
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mar_bottom">
                        <div class="blog_box">
                            <div class="blog_img_box">
                                <figure>
                                    <img src="~/images/54f194c0-1766-47a2-9d03-8b5682564918.jpeg" alt="#" width="10cm" />
                                    <span>02 FEB 2021</span>
                                </figure>
                            </div>
                            <h3>Green salad<br></br><br>R50</br></h3>
                            
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mar_bottom">
                        <div class="blog_box">
                            <div class="blog_img_box">
                                <figure>
                                    <img src="~/images/download.jpeg" alt="#" width="10cm" />
                                    <span>02 FEB 2021</span>
                                </figure>
                            </div>
                            <h3>Fish + Chips<br>Mild or Spicy</br><br>R100</br></h3>
                           
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mar_bottom">
                        <div class="blog_box">
                            <div class="blog_img_box">
                                <figure>
                                    <img src="~/images/images (1).jpeg" alt="#" width="10cm" />
                                    <span>02 FEB 2021</span>
                                </figure>
                            </div>
                            <h3>Chicken Dust, Small Pops & Fish Cakes + Chips<br>Mild or Spicy</br>R120</h3>
                            
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mar_bottom">
                        <div class="blog_box">
                            <div class="blog_img_box">
                                <figure>
                                    <img src="~/images/929c81e9-e8ac-4e93-bfa4-7839ab9fc2c0.jpeg" alt="#" width="10cm" />
                                    <span>02 FEB 2021</span>
                                </figure>
                            </div>
                            <h3>Green salad, Fish + Chips<br></br><br>R100</br></h3>
                            
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mar_bottom">
                        <div class="blog_box">
                            <div class="blog_img_box">
                                <figure>
                                    <img src="~/images/download (2).jpeg" alt="#" width="10cm" />
                                    <span>02 FEB 2021</span>
                                </figure>
                            </div>
                            <h3>Family Mixed Meat platter<br></br><br>R370</br></h3>
                            
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                        <div class="blog_box">
                            <div class="blog_img_box">
                                <figure>
                                    <img src="~/images/images (5).jpeg" alt="#" />
                                    <span>02 FEB 2021</span>
                                </figure>
                            </div>
                            <h3>Family Meaty platter<br></br><br>R450</br></h3>
                            
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
<div class="overlay"></div>

<div class="contacts">
    
        <a href="~/app/contact">Contact Us</a>
    
 </div>
