<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Bite</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!--
    <div class="control-group">
        <div class="input-group">
            <label>Email</label>
            <input type="email" class="form-control" placeholder="Email" required="required" />
            <div class="input-group-append"></div>
            </div>
        </div>
    
        <div class="input-group">
            <label>Password</label>
            <input type="password" class="form-control" placeholder="Password" required="required" />
            <div class="input-group-append">
            </div>
        </div>
    </div>
    
    
    
    <button class="btn register" type="submit">Login</button>-->
    
    <fooetr>
        <div class="footer">
            <div class="container-fluid">
                <div class="row">
                  <div class=" col-md-12">
                    <h2>Request  A<strong class="white"> Call  Back</strong></h2>
                  </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                      
                        <form class="main_form">
                            <div class="row">
                             
                                
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                    <input class="form-control" placeholder="Email" type="email" name="Email">
                                </div>
                               
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                    <input class="form-control" placeholder="Password" type="password" name="Password">
                                </div>
                                
                                
                                
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                    <button class="send">Login</button>
                                </div>
                            </div>
                        </form>
                    </div>
                   
                </div>
                
            </div>
            <div class="copyright">
                <div class="container">
                    <p>© 2019 All Rights Reserved. Design by<a href="https://html.design/"> Free Html Templates</a></p>
                </div>
            </div>
        </div>
    </fooetr>
    <!-- end footer -->
</body>
</html>